.headerPage {
  background-color: lightgray; /* Adicione esta linha para definir a cor de fundo do elemento */
}


.headerImages {
  position: relative;
  width: 100%;
  height: 50vh; /* Altere este valor para ajustar a altura das imagens de fundo */
  overflow: hidden;
}

.headerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 1s ease-in-out;
}

.grayBar {
  height: 5px; /* Defina a altura da barra cinza */
  background-color: lightgray; /* Defina a cor de fundo da barra cinza */
}
.barraVerde {
  background-color: #01A982;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Remova essas linhas */
  margin-bottom: 5px;
  /* margin-top: -95px; */
}

.barraVerde p {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 600px) {
  .headerImages {
    height: auto;
  }

}