.firstImage {
  animation: scale 10s ease;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.carousel {
  margin-top: 106px;
}

.carousel img {
  transition: transform 10s ease;
 }
 
 .activeSlide {
  transform: scale(1.1);
 }
.barraVerde {
  background-color: #01A982;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4px
}

.barraVerde p {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
}