
.headerPage {
  background-color: lightgray;
}

.headerImages {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  margin-top: 5px;
  
}

.headerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 1s ease-in-out;
  
}
@media (max-width: 600px) {
  .headerImage {
    background-size: cover; /* Altere o tamanho da imagem de fundo para cobrir toda a área do elemento */
    background-position: right center; /* Altere a posição da imagem de fundo para alinhar à direita */
  }
}
.grayBar {
  height: 5px;
  background-color: lightgray;
}

.barraVerde {
  background-color: #01A982;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barraVerde p {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
}